<!DOCTYPE html>
  <head>
    <title>Twitter Bootstrap Tutorial - A responsive layout tutorial</title>
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
    <link href="__PUBLIC__/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/script/jquery.min.js"></script>
    <script src="__PUBLIC__/bootstrap-3.3.4-dist/js/bootstrap.js"></script>
    <style>
    .img {
        border: 1px solid red;
    }
    .img img {
        border: 1px solid red;
        width: 600px;
        height: 200px;
    }
    .container {
        border: 1px solid red;
    }
    </style>
    </head>
    <body>

    <include file="Public:header" />
     {__CONTENT__}
    <include file="Public:footer" />
        
<blockquote><p>
这是一个默认的引用实例。这是一个默认的引用实例。这是一个默认的引用实例。这是一个默认的引用实例。这是一个默认的引用实例。这是一个默认的引用实例。这是一个默认的引用实例。这是一个默认的引用实例。</p></blockquote>
<blockquote>这是一个带有源标题的引用。<small>Someone famous in <cite title="Source Title">Source Title</cite></small></blockquote>
<blockquote class="pull-right">这是一个向右对齐的引用。<small>Someone famous in <cite title="Source Title">Source Title</cite></small></blockquote>
    </body>
</html>	